html {
  background-color: seashell;
}

.float-right {
  float: right;
}

#name {
  background-color: rgb(110, 146, 110);
  color: white;
}

.navbar-nav {
  float: right;
}

/* about section */

.container-fluid {
  background-color: seashell;
  margin: 0 auto;
  width: 100;
}

.aboutme-row {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  background-color: white;
  padding: 5%;
}

.contact-row {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  background-color: white;
  padding: 5%;
}

.aboutme-h1 {
  color: rgb(110, 146, 110);
  border-bottom: 1px solid rgb(110, 146, 110);
}

.contact-h1 {
  color: rgb(110, 146, 110);
  border-bottom: 1px solid rgb(110, 146, 110);
}

.btn {
  background-color: rgb(110, 146, 110);
  border-color: rgb(110, 146, 110);
}

.btn:hover {
  background-color: rgb(110, 146, 110);
  border-color: rgb(110, 146, 110);
}

.about-me-pic {
  margin-right: 20px;
  float: left;
}
