/* html background for all three pages*/
html {
  background-color: seashell;
}
/* nav bar for all three pages */
.float-right {
  float: right;
}

#name {
  background-color: rgb(110, 146, 110);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.navbar-nav {
  float: right;
}

.navbar {
  /* border-bottom: solid;
  border-color: rgb(110, 146, 110);
  border-width: 1px; */
  background-color: white;
}

/* container for all three pages */

.container-fluid {
  background-color: seashell;
  margin: 0 auto;
  width: 100;
}
/* about me row */
.aboutme-row {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  background-color: white;
  padding: 5%;
}
/* contact row */
.contact-row {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  background-color: white;
  padding: 5%;
}
/* protfolio row */
.portfolio-row {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  background-color: white;
  padding: 5%;
}
/* about me heading */
.aboutme-h1 {
  color: rgb(110, 146, 110);
  border-bottom: 1px solid rgb(110, 146, 110);
}
/* contact heading */
.contact-h1 {
  color: rgb(110, 146, 110);
  border-bottom: 1px solid rgb(110, 146, 110);
}
/* portfolio heading */
.portfolio-h1 {
  color: rgb(110, 146, 110);
  border-bottom: 1px solid rgb(110, 146, 110);
}
/* contact button */
.btn {
  background-color: rgb(110, 146, 110);
  border-color: rgb(110, 146, 110);
}

.btn:hover {
  background-color: rgb(110, 146, 110);
  border-color: rgb(110, 146, 110);
}
/* about me picture */
.about-me-pic {
  margin-right: 20px;
  float: left;
}
/* portfolio images */
.rounded {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15%;
}

a {
  color: grey;
}

/* @media screen and (max-width: 600px) {
  .container {margin: 10%;}
} */
